.content-image {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.content-image img {
  width: 200px;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}


.project-page {
  letter-spacing: 0;
  padding-top: 80px;
}

.project-description p {
  font-size: clamp(1rem, 2vw, 1rem);
  line-height: 1.6;
  max-width: 900px;
}


/* FULL IMAGE */
.project-image-full {
  width: 100%;
  padding: 0 3rem 6rem;
}

.project-image-full img {
  width: 100%;
  border-radius: 24px;
}


/* GRID */
.project-grid {
  display: grid;
  gap: 2rem;
  padding-top: 100px;
  justify-items: center;
}

.project-grid img {
  max-width: 100%;
  width: auto;
  height: auto;
  border-radius: 24px;
}


/* NEXT PROJECT */
.next-project {
  min-height: 20vh;

  display: flex;
  align-items: center;
  justify-content: center;

  border-top: 1px solid #ddd;
}

.next-project h2 {
  font-size: clamp(3rem, 7vw, 8rem);
}


/* MOBILE */
@media (max-width: 900px) {

  .project-info {
    grid-template-columns: 1fr;
    padding: 4rem 2rem;
  }

  .project-grid {
    grid-template-columns: 1fr;
    padding: 2rem 1rem 0;
  }

  .project-image-full {
    padding: 0 2rem 4rem;
  }

  .hero-overlay {
    padding: 2rem;
  }
}